body {
    font-family: "Lato", sans-serif;
    font-size: 14pt;
    display: flex;
    width: 98%;
    justify-content: center;
    /* background-color: rgb(39, 34, 34); */
}

.column {
    display: flex;
    flex-direction: column;
}

.fullHeight {
    height: 100dvh;
}

.fixedWidth {
    width: 390px;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.justify {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: fit-content;
}

.firstLine {
    padding-top: 10px;
    padding-bottom: 10px;
}

.myselect {
    border-style: none;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: bold;
    background-color: inherit;
}

.myselect:focus {
    outline: none;
}

.volSlider {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.slider {
    background: linear-gradient(to right, black 0%, black 50%, #fff 50%, #fff 100%);
    width: 100%;
}


.modalBox {
    position: absolute;
    margin: 10px;
    margin-top: 30%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    background-color: lightgrey;
    border: 1px solid;
    box-shadow: 5px 10px;
}

/* spinner for fetch loading */

.spinner {
    pointer-events: none;
    width: 2.5em;
    height: 2.5em;
    border: 0.5em solid transparent;
    /* border-color: #eee;
    border-top-color: rgb(197, 125, 18); */
    border-color: rgb(238, 168, 63);
    border-top-color: rgb(145, 72, 4);
    border-radius: 50%;
    animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
    100% {
        transform: rotate(360deg)
    }
}

.overlay {
    z-index: 10;
    position: absolute;
    height: 60%;
    /* width: 95%; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.5); */
    background: none;
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}

/* end of spinner */