body {
    font-family: "Lato", sans-serif;
    font-size: 14pt;
    width: 95vw;
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.upBox {
    flex: 0 0 auto;
    border: 1px solid blue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 1px;
}

.lowBox {
    flex: 1 0 auto;
    border: 1px solid blue;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.fixedWidth {
    width: 390px;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.justify {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.myselect {
    border-style: none;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: bold;
    background-color: inherit;
}

.myselect:focus {
    outline: none;
}

.volSlider {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.slider {
    background: linear-gradient(to right, black 0%, black 50%, #fff 50%, #fff 100%);
    width: 100%;
}

.noGrowNoShrink {
    flex: 0 0 auto;
}

.tabrow {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
    z-index: 1;
}

.tabrow li {
    margin: 0 -5px;
    padding: 0 10px;
    border: 1px solid #1b3252;
    display: inline-block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #1b3252;
    color: #ffffff;
}

.tabrow li:first-of-type {
    margin-left: 0;
}

.tabrow li.selected {
    background: white;
    border-bottom: 1px solid white;
    color: #1b3252;
}

.tabContent {
    flex: 1 1 0;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: auto;
    border-top: 1px solid #1b3252;
    border-bottom: 1px solid #1b3252;
    margin-top: -1px;
    font-size: small;
}

/* spinner for fetch loading */

.spinner {
    pointer-events: none;
    width: 2.5em;
    height: 2.5em;
    border: 0.5em solid transparent;
    /* border-color: #eee;
    border-top-color: rgb(197, 125, 18); */
    border-color: rgb(238, 168, 63);
    border-top-color: rgb(145, 72, 4);
    border-radius: 50%;
    animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
    100% {
        transform: rotate(360deg)
    }
}

.overlay {
    z-index: 10;
    position: absolute;
    height: 60%;
    /* width: 95%; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.5); */
    background: none;
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}

/* end of spinner */