body {
    font-family: "Lato", sans-serif;
    font-size: 14pt;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    /* Prevent any overflow */
}

.column {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.pointer {
    cursor: pointer;
}

.actC {
    cursor: pointer;
}

.actBC {
    cursor: pointer;
}

.actC:active {
    color: blue;
}

.actBC:active {
    background-color: blue;
}

.upBox {
    flex: 0 0 auto;
    border: 1px solid blue;
    width: calc(100% - 20px);
    /* Account for horizontal margins/padding */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin: 10px 10px 1px 10px;
    /* Add margins instead of body padding */
    box-sizing: border-box;
}

.lowBox {
    flex: 1 1 auto;
    border: 1px solid blue;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 10px 10px 10px;
    overflow: auto;
    box-sizing: border-box; /* Include borders in width */
}

.fixedWidth {
    width: 390px;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.justify {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.outSelect {
    border-style: none;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    background-color: inherit;
    cursor: pointer;
}

.outSelect:focus {
    outline: none;
}

.volSlider {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.slider {
    background: linear-gradient(to right, black 0%, black 50%, #fff 50%, #fff 100%);
    width: 100%;
}

.noGrowNoShrink {
    flex: 0 0 auto;
    margin: 0;
}

.cmdLine {
    flex: 0 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1px;
    align-items: center;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #1b3252;
    font-size: medium;
    background-color: lightblue;
}

.cmdBtn {
    flex: 1 1 auto;
    cursor: pointer;
    /* margin: 1px;
    border: 1px solid #1b3252; */
    border: none;
    background-color: transparent;
    height: 100%;
    width: auto;
}

.lowBoxButton {
    height: 40px;
}

.cmdBtn:hover {
    background-color: blue;
    color: whitesmoke;
}

.infoLine {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 0;
    padding: 0;
    font-size: medium;
    background-color: lightblue;
}

.tabrow {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 30px;
    z-index: 1;
    font-size: medium;
}

.tabrow li {
    margin: 0 -5px;
    padding: 0 10px;
    border: 1px solid #1b3252;
    display: inline-block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #1b3252;
    color: #ffffff;
}

.tabrow li:first-of-type {
    margin-left: 0;
}

.tabrow li.selected {
    background: white;
    border-bottom: 1px solid white;
    color: #1b3252;
}

.tabContent {
    flex: 1 1 0;
    display: flex;
    width: 100%;
    overflow: auto;
    border-top: 1px solid #1b3252;
    border-bottom: 1px solid #1b3252;
    margin-top: -1px;
    font-size: medium;
    white-space: nowrap;
}

.tabCntTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #1b3252;
    width: 100%;
    margin-top: -1px;
    margin-bottom: 3px;
    padding-top: 2px;
    font-size: medium;
}

.tabCntList {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 100%;
}

.tabCntLine {
    display: flex;
    align-items: center;
    height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
}

.tabCntLine:hover {
    background-color: lightgray;
}

.modal {
    padding: 20px;
    background-color: lightblue;
    text-wrap: wrap;
    overflow-wrap: normal;
}

/* spinner for fetch loading */

.spinner {
    pointer-events: none;
    width: 2.5em;
    height: 2.5em;
    border: 0.2em solid transparent;
    border-color: #020000;
    border-top-color: rgb(255, 254, 253);
    /* border-color: #eee;
    border-top-color: rgb(197, 125, 18);
    border-color: rgb(12, 12, 68);
    border-top-color: lightblue; */
    border-radius: 50%;
    animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
    100% {
        transform: rotate(360deg)
    }
}

.overlay {
    z-index: 10;
    position: absolute;
    height: 90%;
    /* width: 95%; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.5); */
    background: none;
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}

/* end of spinner */